<div class="row">
	<div class="col-md-12">
		<h2><%= @biz.name.titleize %></h2>
		<div class="container-fluid">
			<div class="row">
	   			<span><img src="<%= @result.rating_img_url_large%>"/></span><span class="description-text"> <%= @result.review_count %> reviews</span>
	   		</div>

	   		<div class="row" style="margin-top:25px;">
	   			<span class="description-text orange-text"><%= @result.location.display_address[0] %>
	   				<br>
	   			</span>
	   			<span class="sml-text text-default"><%= @result.location.display_address[1] %>
	   				<br>
	   			</span>
	   			<span class="sml-text text-default"><%= @result.location.display_address[2] %>
	   				<br>
	   			</span>
	   		</div>
		</div>	
		<div class="row">
			<div class="col-md-4">
				<img style="width:300px;"class="biz_food_img img-rounded" src="<%= @result.image_url %>">
			</div>
			<div class="col-md-8">
			<div class="red_score pull-right"><%= @score %></div>
			<div class="clear"></div>
				<%= erb :biz_vio_desc, :locals => { :biz_id => @biz.business_id } %>
			</div>	
		</div>
		
	</div>
</div>

<div class="row block"></div>

<div class="row comments_section">
	
	<div class="col-md-6">
		<%= erb :"business/comments", 
				:locals => { 
					:biz_id => @biz.business_id,
					:site_reviews => @comments,
					:result => @result
				} 
		%>		
	</div>

	<div class="col-md-2 col-md-offset-1">
		<%= erb :"business/comment_form", :locals => { :biz_id => @biz.business_id } %>
	</div>
</div>