<% @restaurants.businesses.each do |biz| %>
   <% joints = Business.where("name LIKE ?", "%#{biz.name}%").limit(10) %> 
   <% joints.each do |joint_one| %>
   	  <div class="row">
		<div class="col-md-2">
			<%= erb :view_360, :locals => { :biz => joint_one } %>
		</div>

		<div class="col-md-7 col-md-offset-2">
			   <h2><a href="/<%= joint_one.business_id%>"><%= joint_one.name.titleize %></a></h2>
			    <div class="container-fluid">
				   <div class="row">
				   	  <span class="description-text orange-text"><%= restaurant.businesses[0].location.address[0] %></span>
				   </div>
				   <div class="row">
				   	  <span><img src="<%=restaurant.businesses[0].rating_img_url%>"/></span>
				   	  <span> Reviews: <%=restaurant.businesses[0].review_count%></span>
				   </div>		   	
			   </div>
			   <div class="container-fluid">
			   	  <%= erb :biz_vio_desc, :locals => { :biz_id => joint_one.business_id } %>
			   </div>
			   
		</div>

	  </div>
   <% end %>
<% end %>